"rollback": "npx sequelize-cli db:migrate:undo:all",
"migrate": "npx sequelize-cli db:migrate",
"new-migration": "npx sequelize-cli migration:create --name=$MIGRATION_NAME",
"new-seed": "npx sequelize-cli seed:create --name=$SEED_NAME",
"seed": "npx sequelize-cli db:seed:all",
"seed-rollback": "npx sequelize-cli db:seed:undo:all"