import Koa from 'koa';
import logger from 'koa-logger';
import json from 'koa-json';
import dotenv from 'dotenv';
import router from './routes';

dotenv.config();

const app = new Koa();

// middleware
app.use(json());
app.use(logger());

// routes
app.use(router.routes()).use(router.allowedMethods());

const server = app.listen(process.env.PORT, () => {
  // eslint-disable-next-line
  console.log('API started!');
});

export default server;
