import request from 'supertest';
import server from './server';

describe('Foo Bar Test Suite', () => {
  afterAll(() => {
    server.close();
  });
  it('tests /foo-bar endpoint', async () => {
    const response = await request(server).get('/foo-bar');
    expect(response.body).toEqual({ foo: 'bar' });
    expect(response.statusCode).toBe(200);
  });
});